nav {
    height: 90px;
    position: sticky;

    img {
        height: 80px;
    }

    .navlinks {
        width: 65%;

        a {
            color: $dark;
        }

        a:hover {
              color: $red;
              text-decoration: none;
            }       
    }

    button {
        border: $red 4px solid;
        color: $red;
        padding: 5px 10px;
        background-color: white;
    }
}

.smallnav {
    height: 50px;
    padding-top: 10px;
    
    .fa-bars {
        font-size: 30px;
    }
}