@import "reset";
@import "colors";
@import "navbar";
@import "header";
@import "section1";

body {
  font-family: 'Lato', sans-serif;  
}

.maxwidth {
  max-width: 1100px;
  margin: auto;
}

.redline {
  width: 70px;
  border-top: $red 2px solid;
  margin: auto;
  margin-bottom: 3em;
}